@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --deep-black: #0a0a0a;
  --neon-cyan: #00f3ff;
  --neon-purple: #b23aff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-deep-black: var(--deep-black);
  --color-neon-cyan: var(--neon-cyan);
  --color-neon-purple: var(--neon-purple);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
